<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/logo.png" width="100" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="Nombre de usuario" labelPlacement="floating" fill="outline" [(ngModel)]="username"name="username"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="Contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" expand="full">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="goToRegister()" expand="full">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-alert
    trigger="present-alert"
    header="Alert!"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>