<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Traductor Mary</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="logout()">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/logo.png" width="100" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-text><h1>Hola, {{nombreUsuario}}.</h1></ion-text>
        <ion-text><h5>Presiona el botón de la cámara para empezar a detectar el texto.</h5></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
