<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Traductor Mary</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="logout()">
        Salir
        <ion-icon slot="end" name="log-out-outline" (click)="logout()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="traduccionService.texto" label="Texto" labelPlacement="floating" fill="outline" placeholder="Ingresa un texto" [autoGrow]="true"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select [(ngModel)]="traduccionService.idioma" label="Idioma" label-placement="floating" fill="outline">
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="en">Inglés</ion-select-option>
          <ion-select-option value="fr">Francés</ion-select-option>
          <ion-select-option value="de">Alemán</ion-select-option>
          <ion-select-option value="it">Italiano</ion-select-option>
          <ion-select-option value="pt">Portugués</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="procesarFormulario()" expand="full">Traducir</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="capturarTexto()" expand="full">Capturar texto</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
