<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Módulo 2: texto a voz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="texto" label="Texto" labelPlacement="floating" fill="outline" placeholder="Ingresa un texto" [autoGrow]="true"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select [(ngModel)]="itemSeleccionado" label="Idioma" label-placement="floating" fill="outline">
          <ion-select-option value="spanish">Español</ion-select-option>
          <ion-select-option value="english">Inglés</ion-select-option>
          <ion-select-option value="french">Francés</ion-select-option>
          <ion-select-option value="german">Alemán</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="procesarFormulario()" expand="full">Traducir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
