<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/logo.png" width="100" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="API URL" labelPlacement="floating" fill="outline" [(ngModel)]="apiUrl" name="apiUrl"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="guardarConfig()" expand="full">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>